html {
    --theme-blue-main: #232983;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(31,37,124,1) 60%, rgba(11,86,172,1) 100%);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    margin-top: 1em;
}

h2{
    display: none;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    text-align: center;
}

.quizz-header{
    background-color: aliceblue;
    color: black;
    font-weight: 300;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}

.quizz-header .right-answer{
    margin-top: 0.5em;
    color: green;
    font-weight: 600;
}

.quizz-header .wrong-answer{
    margin-top: 0.5em;
    color: #D90429;
    font-weight: 600;
}
.quizz-container{
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
}

.quizz-container img {
    width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.quizz-container .name-buttons{
    display: flex;
    flex-direction: column;
    gap : 0.5em;
    margin-top: 1em;
    width: fit-content;
    margin: auto;
}

.quizz-container .name-buttons button{
    border : none;
    background-color: var(--theme-blue-main);
    border-radius: 10px;
    color: white;
    padding: 0.7em 1em;
    text-align: center;

}

.quizz-container .player-infos{
    color: var(--theme-blue-main);
    font-weight: 400;
}

.quizz-footer{
    display: flex;
    align-items: center;
    margin-top: 1em;
}

button.next-button,
button.try-again{
    border : solid 1px white;
    background-color: white;
    border-radius: 10px;
    color:var(--theme-blue-main);
    padding: 0.7em 1em;
    text-align: center;
    font-weight: bold;
    margin: auto;;
}

button svg{
    vertical-align: middle;
    display: inline-block;
}

button.next-button svg{
    margin-left: 0.5em;
}

/* media queries for large screebs*/

@media screen and (min-width: 1025px) {
    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    h1{
        font-size: 3em;
        text-align: center;
    }

    h2{
        display: block;
    }

    .quizz-header{
        font-size: 1.2em;
        margin-top: 1em;
    }

    .quizz-container{
        width: 40%;
    }
    
    .quizz-container img {
        width: 50%;
    }
    
    .quizz-container .name-buttons{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.3em;
        width: 75%;
        margin: auto;
    }

    .quizz-container .player-infos{
        font-size: 1.2em;
    }

    button.next-button {
        font-size: 1.2em;
    }

    }